DATABASE_URL=mssql+pyodbc://<username>:<password>@<server_name>/<database_name>?driver=ODBC+Driver+18+for+SQL+Server
COPILOT_MODE=mock
COPILOT_TOKEN_ENDPOINT=
COPILOT_DIRECT_LINE_BASE_URL=https://directline.botframework.com/v3/directline
COPILOT_RESPONSE_TIMEOUT_SECONDS=30

